/***********************************************
*Body
************************************************/
html {
  height: 100%;
}
body {
  margin: 0;
}
  
/***********************************************
*Navbar
************************************************/

.nav_container {
  
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
.navbar{
  
  background-color: #042d62;
  
}

.navbar-toggler {
  color: #def56c;
}

.navbar-nav.mr-auto.mt-2.mt-lg-0 li a {
  color: #def56c;
}

.navbar-brand {
  color: #def56c;
}

.navbar-nav.mr-auto.mt-2.mt-lg-0 button {
  color: #def56c;
}


/*********************************************
* video section
*******************************************/
.video {
  width: 100% !important;
  height: 55vh;
}
.video iframe{
  margin: 0 auto;
  
  width: 100%;
  height: 50vh;
}

/***********************************************
*Section - Company info - index
************************************************/

.company_info {
  background-color: #042d62;

  
}

/***********************************************
*Section - Carousel - index
************************************************/

.w-100 {
  width: 100% !important;
  height: 55vh;
}
.company_info img{
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  height: 50vh;
 
}

.carousel-item {
  transition-duration: 0s;
  
}

/***********************************************************
* find us section
***********************************************************/
.find_us {
  
  background-color: #042d62;
  display: flex;
  
  padding: 50px;
}

.address{
  color: #def56c; 
  padding: 50px;
  
}

.address h2{
  font-size: xx-large;
  justify-content: center;
 
}

.address p {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: large;


}

.sqs-block-button-element--medium {
  
  border: solid 2px #def56c;
  text-decoration: none;
  padding: 10px;
  color: #def56c;
}

.sqs-block-button-element--medium:hover {
  background-color: #def56c;
  color: #042d62;
}
/***********************************************************
*about section
***********************************************************/

.about h2, p {
  color: #def56c;

}

.about h2 {
  font-size: 60px;
  margin: 20px;
}

.about p{
  font-size: 35px;
  margin: 20px;
}

.about button {
  background-color: #042d62;
 
  margin: 20px;
  padding: 10px;
}

.about button a {
  color: #def56c;
  text-decoration: none;
}



.bg {
  
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg,  #042d62 50%, #FF8C00 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/***********************************************************
*ABOUT US - video
***********************************************************/

.item2 {
  width: 100% !important;
  height: 55vh;
}

.item2 iframe{
  margin: 0 auto;
  
  width: 100%;
  height: 50vh;
}

/***********************************************************
*CONTACT US 
**********************************************************/

/*************************************************************
* Footer
***********************************************************/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #042d62;
}

footer p {
  color: #def56c;
  
}

/*************************************************************
* Social media icon styles
*************************************************************/

/* Style all font awesome icons */
.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background-color: #042d62;
  
  color: #def56c;
}

/* Instagram */
.fa-instagram {
  color: #def56c;
}

/* linkedin */
.fa-linkedin {
  color: #def56c;
}

/* Twitter */
.fa-twitter {
  background-color: #042d62;
  
  color: #def56c;
}

/*you tube */
.fa-youtube {
  color: #def56c;
}

/* email */
.fa-envelope {
  color: #def56c;
}

/* phone */
.fa-phone {
  color: #def56c;
}

/*************************
* Grid - about us
*************************/

.item1 { grid-area: header; background-color: orange; text-decoration: black;}
.item2 { grid-area: menu; background-color: #def56c;}
.item3 { grid-area: main; background-color: orange;}
.item4 { grid-area: right; background-color: orange;}

.contact_item1 { grid-area: header; background-color: grey; text-decoration: black;}
.contact_item2 { grid-area: menu; background-color: grey;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main right right right';
  gap: 10px;
  background-color: #042d62;
  padding: 10px;
}

.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container header {
  background-color: #042d62;
}