/***********************************************************
*CONTACT US PAGE
**********************************************************/
body{

     background-color: #042d62;
}
h2{
  text-align: center;
  color: #def56c;
}
.contact_header{
    padding-bottom: 40px;
}
.contact_main {
   border: #def56c 3px solid;
    padding-top: 60px;
    font-size: auto;
    color: #042d62;
    text-align: center;
    padding-bottom: 10px;
    margin: 40px;
    width: 90;
  }

  .contact_main a, p{
    color: #def56c;
  }


  
  .contact_header p{
    text-align: center;
    color: #042d62;
    font-weight: 600;
    
  }




.contact_form {

   
    flex-direction: column;
    padding-bottom: 10px;
    text-align: center;
    
    
  }
  
 
  

  
  form input, textarea {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border-radius: 1rem;
    
    border: 2px solid #042d62;
    width: 90%;
    
  }
  
  .send {
    border: 2px solid #def56c;
    border-radius: 8px;
    color: #def56c;
    font-size: 24px;
    background-color:#042d62;
  }
  
  .send:hover {
    color: #042d62;
    background-color: #def56c;
  }
  
  