body{
    background-color: #042d62;
}

p{
    color: #a9a9a9;
    font-size: 18px;
    
}


h3 {
    color: #c8f705;
  text-align: center;
  font-size: 36px;
}


/*about*/

.about{
    margin: 20px;
    border: 3px solid #c8f705;
    background-color: #042d62;
    
}

.about p{
    font-size: 18px;
}

/*services*/

.services{
    margin: 20px;
    border: 3px solid #c8f705;
    background-color: #042d62;
    
}

.services p{
    padding: 20px;
}

/*find us*/

.find_us{
    margin: 20px;
    
    background-color: #042d62;
}

/*button*/
button {

    margin: 20px;
    padding: 10px;
    max-width: 200px;
    border: 2px solid #a9a9a9;
    background-color: #c8f705;
    
  }
  
  button a {
    font-weight: 600;
    text-decoration: none;
    color: #042d62;
    
  }
  
  button:hover {
   
    background-color: #042d62;
   
  }
  
  button:hover a {
    color: #c8f705;
    text-decoration: none;
  }


/***********************************************************
* find us section
***********************************************************/
/* .find_us {
  
    background-color: #042d62;
    display: flex;    
    padding: 50px;
   
  } */
  .find_us {
  
    background-color: #042d62;
    display: grid;   
    grid-template-columns: 50% 50%; 
    padding-bottom: 20px;
    
   
  }
  
  .address{
    color:#c8f705; 
    padding-left: 50px;
    
  }
  
  .address h2{
    font-size: xx-large;
    justify-content: center;
   
  }
  
  .address p {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: large;
    color: #c8f705; 
  
  }
  
  .sqs-block-button-element--medium {
    
    height: auto;
    border: solid 2px #c8f705;
    text-decoration: none;
    padding: 10px;
    color: #def56c;
    
    
    
  }
  
  
  .sqs-block-button-element--medium:hover {
    background-color: #c8f705;
    color: #042d62;
  }
  
  .map {
    /* display: block; */
    width: 100%;
    height: 100%;
  }
  





/*media queries*/


