body{
    background-color: #042d62;
}

/*header*/

.header{
  position: relative;
  text-align: center;
  color: white;
 
}

h1{

    color: white;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Centered text */
.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************************************************************
*projects section
*************************************************************************/
.projects{
  display: grid;
  place-items: centre;
  align-items: center;
  margin: 40px;
  margin-bottom: 40px;
  min-height: 100vh;
}

h2{
  text-align: center;
  color: #c8f705;
padding: 10px;

}

p{
  text-align: center;
  color: #a9a9a9;
}

.project-images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  margin-bottom: 20px;



 
}

.hidden:hover{
  transform: scale(1.1);
}

.hidden{
  opacity: 0;
  transition: all 2s;
}

.show{
  opacity: 1;
}



/* collapsable css
/* Style the button that is used to open and close the collapsible content */
/* .collapsible {
    background-color: #042d62;
    color: #c8f705;
    cursor: pointer;
    padding: 18px;
    width: 98%;

    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 10px;
    border: 3px solid #c8f705;
    
  } */
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* .active, .collapsible:hover {
    background-color: #042d62;
  } */

  
  /* Style the collapsible content. Note: hidden by default */
  /* .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #042d62;
    color: #c8f705;
  }

  .content h3{
    margin: 10px;
    padding: 0;
  }

  .content p{
    color: #a9a9a9;
    width: 90%;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    /* font-size: 13px;
    color: #042d62;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  /* }  */ */

  /***********************
  *slideshow
  ************************/




 

  .carousel-item img{
    width: 100% !important;
  height: 75vh;


  }

  /* Now see what happens when the device or screen is less that 601px */

  @media (max-width: 320px){
    .carousel-item img{
    width: auto;
    height:auto;
    
    }
   
  }
  

  @media (max-width: 480px){
    .carousel-item img{
    width: auto;
    height:auto;
    
    }
   
  }

  @media (max-width: 768px){
    .carousel-item img{
    width: auto;
    height:auto;
    
    }
  }

  /* @media (max-width: 1200px){
    .carousel-item img{
    width: auto;
    height:auto;
    max-height: 75vh;
    }
  } */