body { 
    background-color:  #042d62; 
    font-family: 'Trebuchet MS'; 
    
} 

a{
    text-decoration: none;
    color: #62adff;
}
  
  
h2 { 
    font-size: 21px; 
    margin-top: 20px; 
} 

p{
    color: #a9a9a9;
    font-size: 18px;
}

/*hero*/

.hero{
    background-color: #042d62;
    padding: 40px;
}

.hero h2{
    margin: 0;
    padding-bottom: 20px ;
    font-size: 36px;
    color: #c8f705;
}





/*services*/

.services{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #042d62;
    margin-right: 20px;
    text-align: center;
}

.col{
    
    background-color: #042d62;
   
}

.col img{
    margin-left: 20px;
    
}

.col h2{
    text-align: center;
    margin: 0;
    padding: 20px ;
    font-size: 36px;
    color: #62adff;
}

.col p{
    font-size: 18px;
}

/*calculator*/
  
.finance-calculator { 
    /* max-width: 400px; 
    max-height: 450px;  */
    border: solid 3px #042d62;
    background-color: #c8f705; 
 
    left: 50%; 
    
    
    /* transform: translateX(-50%) translateY(-50%);  */
    padding: 20px 0px 0px 100px; 
    margin: 40px 100px 40px 100px;
    border-radius: 50px; 
    
    color: #042d62; 
} 
  
input { 
    padding: 7px; 
    width: 70%; 
    margin-top: 7px; 
    border: solid 2px #042d62;
} 

.form-input {   
    color: #042d62;
    padding: 10px;
}

.calculatebtn{
    border-radius: 5px;
    background-color: #c8f705;
    color: #042d62;
    
}

.calculatebtn:hover{
background-color:#042d62 ;
color: #c8f705;}

@media screen and (max-width: 900px) {
    .services {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        /* padding: 20px; */
     }
     .services img{
        max-width: 100%;
     }
     .finance-calculator{
        margin: 0px 0px 60px 0px;
     }
    }